.alert-enter {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
}
.alert-enter-active {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}
.alert-exit-active {
    opacity: 0;
    transform: translateX(-50%) translateY(-200%);
    transition: opacity 300ms, transform 500ms;
}
